<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is my coursework.</title>
    <link rel="stylesheet" type="text/css" href="../layout.css">
    <link rel="shortcut icon" href="../favicon.ico" />
</head>
<body>

<%- include('topNav') %>

<div id="mainArea">
    <h1 id="mainHeading">Welcome to RUNTHING</h1>
    <p id="mainText">Get started by selecting profile above.</p>
    <p>Documentation:</p>
    <ul>
        <li><a href="../dox/Installation.html">Installation</a></li>
        <li><a href="../dox/User_Manual.html">User Manual</a></li>
        <li><a href="../dox/Specification.html">Specification</a></li>
        <li><a href="../dox/Report.html">Report</a></li>
    </ul>
</div>

<%- include('footer') %>

</body>

<script src="../index.js"></script>

</html>